* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: playfair display, sans-serif;
}

body {
  background-color: rgb(173, 173, 173);
}

.title {
  width: 20%;
  margin: 20px auto;
  padding: 6px 0;
  border-radius: 10px;
  background-color: rgb(58, 119, 217);
  text-align: center;
  font-size: 2rem;
}
