* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: playfair display, sans-serif;
}

body {
  background-color: rgb(173, 173, 173);
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  width: 20%;
  margin: 20px auto;
  padding: 6px 0;
  border-radius: 10px;
  background-color: rgb(93, 205, 239);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.panel {
  background-color: rgb(112, 167, 223);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.tier {
  background-color: rgb(230, 52, 52);
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

.tier-title {
  width: 20%;
  margin: 20px auto;
  padding: 6px 0;
  border-radius: 10px;
  background-color: rgb(58, 119, 217);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 10px;
  padding: 14px;
  border-radius: 10px;
  width: 260px;
  height: 300px;
}

.card:hover {
  transform: scale(1.1);
}

.card-discovered {
  background-color: rgb(200, 200, 200);
}

.card-discovered-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-discovered-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  border: 3px solid black;
  margin-bottom: 40px;
}

.card-title {
  text-align: center;
}

.card-not-discovered {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 100, 100);
}

.card-not-discovered-img {
  width: 80%;
}

.card-counter{
  display: flex;
  justify-content: center;
  width: 60px;
  margin: 24px auto 10px;
  padding: 10px 20px;
  background-color: rgb(150, 150, 150);
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.open-packs {
  background-color: rgb(146, 89, 237);
  padding: 20px;
  border-radius: 10px;
}

.open-packs-button {
  background-color: rgb(225, 208, 95);
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.4rem 3.2rem;
  transition: all 0.2s;
  border-radius: 10px;
}

.open-packs-button:hover {
  background-color: rgb(225, 190, 95);
  transform: scale(1.02);
}
